name: Profile Metrics - Languages
on:
  # Schedule daily updates
  schedule: [{cron: "0 1 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push:
    branches: ["main"]
    paths: ["**metrics-languages.yml"]
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics-languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: d03n3rfr1tz3
          template: classic
          base: header
          config_animations: yes
          config_display: regular
          config_timezone: Europe/Berlin
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_ignored: chatter, follower
          plugin_achievements_limit: 12
          plugin_activity: no
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, lines, percentage
          plugin_languages_ignored: Java, Smalltalk
          plugin_languages_limit: 0
          plugin_languages_other: yes
          plugin_languages_threshold: 0.15%
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics-languages-large.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: d03n3rfr1tz3
          template: classic
          base: header
          config_animations: yes
          config_display: large
          config_timezone: Europe/Berlin
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_ignored: chatter, follower
          plugin_achievements_limit: 12
          plugin_activity: no
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_details: bytes-size, lines, percentage
          plugin_languages_ignored: Java, Smalltalk
          plugin_languages_limit: 0
          plugin_languages_other: yes
          plugin_languages_threshold: 0.15%
          
